openapi: 3.0.2
info:
  title: Raumbuchungs-API
  version: 0.1.0
  description: API für das Buchen und Verwalten von Besprechungsräumen in der NLB.


servers:
  - url: https://gravitee-01.test.k8s.i-lab.online/raumbuchungsapi
    description: Testumgebung
  - url: https://gravitee-01.dev.k8s.i-lab.online/raumbuchungsapi
    description: Entwicklungsumgebung


tags:
  - name: Besprechungsräume
  - name: Raumbuchungen


paths:
  /rooms:
    description: Ressource für Besprechungsräume.
    get:
      summary: Liefert Besprechungsräume.
      description: Liefert alle Besprechungsräume zurück. Wurden Parameter übergeben, werden nur die Besprechungsräume zurückgeliefert auf die **alle** Kriterien zu treffen. Wenn es keine Räume gibt, auf die die Filterkriterien zu treffen, wird ein 200er mit leerer Liste zurückgeliefert.
      tags:
        - Besprechungsräume
      operationId: getRooms
      parameters:
        - name: capacity
          description: Parameter um nach Besprechungsräumen zu suchen, die mindestens Platz für die angegebene Anzahl Personen hat.
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: Erfolgreicher Zugriff.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Room'
                example:
                  - room_id: 6f410920-ea6b-4fbe-b2cb-f0875f7cf3a1
                    name: O0_00W50
                    capacity: 25
                  - room_id: fb904c1b-bc00-4ce9-ba36-daaa9bac0219
                    name: O0_00W60
                    capacity: 42
        default:
          description: Fehlerhafter Zugriff
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Anlage eines Besprechungraumes.
      description: Legt einen neuen Besprechungsraum an und liefert das vollständige Besprechungsraumobjekt zurück.
      tags:
        - Besprechungsräume
      operationId: addRoom
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoomWrite'
      responses:
        '200':
          description: Neuer Besprechungsraum wurde angelegt. Vollständiges Besprechungsraum-Objekt befindet sich in der Antwort.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Room'
        '400':
          description: Fehlerhafte Eingabedaten.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Fehlerhafter Zugriff
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /rooms/{room_id}:
    description: Resource um auf einen einzelnen Besprechungsraum zu zugreifen.
    parameters:
      - $ref: '#/components/parameters/RoomId'
    get:
      summary: Liefert den Besprechungsraum.
      description: Liefert den Besprechung zur übergebenen ID zurück. Gibt es den Besprechungsraum nicht wird mit 404 geantwortet.
      tags:
        - Besprechungsräume
      operationId: getRoom
      responses:
        '200':
          description: Erfolgreicher Zugriff.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Room'
        '404':
          description: Besprechungsraum existiert nicht.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Fehlerhafter Zugriff
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Ändert den Besprechungsraum.
      description: Ändert den Besprechungsraum und gibt das aktualisierte Raum-Objekt zurück.
      tags:
        - Besprechungsräume
      operationId: updateRoom
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoomWrite'
      responses:
        '200':
          description: Raum wurde aktualisiert.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Room'
        '400':
          description: Eingabedaten fehlerhaft.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Raum oder Standort existiert nicht.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Fehlerhafter Zugriff
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Löscht den Besprechungsraum.
      description: Löscht den Besprechungsraum.
      tags:
        - Besprechungsräume
      operationId: deleteRoom
      responses:
        '204':
          description: Raum wurde gelöscht. Antwort enthält keine Payload.
        '404':
          description: Raum nicht gefunden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Fehlerhafter Zugriff
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:

  schemas:
    Room:
      type: object
      description: Besprechungsraum-Objekt für lesende Zugriffe
      required:
        - room_id
      allOf:
        - type: object
          properties:
            room_id:
              type: string
              description: UUID des Raumes
              example: 6f410920-ea6b-4fbe-b2cb-f0875f7cf3a1
        - $ref: '#/components/schemas/RoomWrite'

    RoomWrite:
      type: object
      description: Besprechungsraum-Objekt für schreibende Zugriffe
      required:
        - name
        - capacity
      properties:
        name:
          type: string
          description: Raumbezeichnung
          example: O0_00W50
        capacity:
          type: integer
          description: Anzahl Sitzplätze im Besprechungsraum
          example: 25

    Error:
      description: Fehler
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: integer
          description: HTTP Status Code
        message:
          type: string
          description: Fehlermeldung


  parameters:
    RoomId:
      name: room_id
      in: path
      required: true
      description: UUID des Besprechungsraumes.
      schema:
        type: string
        example: 5fcec5cd-a4f6-42f3-b9c0-b78cc120fd49